/* Default css */
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.fixwidth {
    width: 1580px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* Header section start */

.header{
    background-color: #22C3A3;
    padding: 30px 0;
}
.header-left{
    width: 30%;
    float: left;
}
.header-left h1 {
    color: #D1F3EC;
    font-weight: normal;
    font-size: 35px;
}
.header-right{
    width: 70%;
    float: right;
}
.header-right ul{
    text-align: right;
    list-style: none;
}
.header-right ul li {
    display: inline-block;
}
.header-right ul li a {
    text-decoration: none;
    color: #C3E5DE;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
}

/* .banner section start */

.banner {
    background: url(./pictures/header-bg01.jpg) no-repeat center;
    background-size: cover;
    
    padding: 250px 0;
}
.banner-content{
    text-align: center;
}
.banner-content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}
.banner-content p {
    color: #B5EBE0;
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: bold;
}
.banner-content a {
    color: #D3F4ED;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    border: 3px solid #D3F4ED;
    display: inline-block;
    padding: 10px 20px;
}

.title{
    margin: 150px 0;
}
.title h1 {
    color: #555555;
    font-size: 35px;
    margin-bottom: 25px;
}
.title p {
    color: #868686;
    font-size: 20px;
}

/* .===service section start=== */

.service-section{
    padding-bottom: 200px;
    border-bottom: 3px solid #0DBF9B;
}
.width{
    width: 1500px;
    margin: auto;
}
.service-item {
    float: left;
    width: 20%;
}
.mright{
    margin-right: 6.66%;
}
.service-item i {
    font-size: 45px;
    color: #0DBF9B;
    margin-bottom: 30px;
}
.service-item h2 {
    color: #666666;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.service-item p {
    color: #7D7D7D;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* about us section start */

.about-title{
    margin-top: 90px;
    margin-bottom: 60px;
}
.about-title h1{
    color: #555555;
    font-size: 35px;
    margin-bottom: 25px;
}
.about-title p{
    color: #868686;
    font-size: 20px;
}

.AboutUs-section{
    margin-bottom: 100px;
}
.pic{
    float: left;
    width:45%;
}
.pic img{
    min-width: 90%;
}
.content-parent{
    float: right;
    width: 55%;
}
.content h2 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    color: #6C6C6C;
}
.content p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #868585;
    margin-bottom: 30px;
}

/* contact us section start */


.contactus-section{
    background-color: #F6F6F6;
    padding: 100px 0;
}
.width2 {
    width: 1140px;
    margin: auto;
}
.contact-title{
    margin-bottom: 80px;
}
.contact-title h2{
    color: #555555;
    font-size: 35px;
    margin-bottom: 25px;
}
.contact-title p{
    color: #868686;
    font-size: 20px;
}
.contact-parent{}
.contact-item{
    width: 25%;
    float: left;
}
.contact-item i {
    font-size: 20px;
    color: #0DBF9B;
    margin-bottom: 18px;
}
.contact-item p{
    color: #868686;
    font-size: 20px;
    margin-bottom: 8px;
}
.mr{
    margin-right: 12.5%;
}

/* social menu start */

.social-menu-section{
    padding: 30px 0;
    background-color: #0DBF9B;
}
.width3{
    width: 500px;
    margin: auto;
}
.social-menu{
    text-align: center;
}
.social-menu ul{
    list-style: none;
}
.social-menu ul li{
    display: inline-block;
}
.social-menu ul li a {
    color: #fff;
    padding-left: 35px;
    font-size: 30px;
}
.footer{
    background-color: #222222;
    padding: 20px 0;
}
.footer p{
    color: #575454;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
}










/* font-family: 'Open Sans', sans-serif; */

